p {
    border: 1px solid black;
    border-radius: 0.5em;
    width: 10vw;
    padding:1em;
    margin:0.5em;
    text-align: center;
}

button {
    margin-top:0.5em;
}

picture {
    width:auto;
}